.box{
    border-radius: 20px;
    width: 1200px;
    height: 550px;
    background-color: aliceblue;
}

.box1{
    text-align: center;
    padding-top: 22px;
    border-radius: 20px;
    width: 438px;
    height: 70px;
    background-color: #F5F5F5;
}

.box2{
    width: 500px;
    height: 100px;
    background-color: white;
}

.box3{
    border-radius: 10px;
    width: 1300px;
    height: 50px;
    background-color: aliceblue;
    text-align: center;
    padding-top: 10px;
    
}