@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
